nav {
    display: flex;
    justify-content: end;
    width: 96vw;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 250px;
    width: 100%;
    padding: 0;
    /* somehow this pushes the limits of the container, idk why */
}

a {
    text-decoration: none;
}